*{
    margin: 0;
    padding: 0;
}

.navbar_contain{
    background: #C1E1C1;
    height: 100px;
    display: flex;
}


.navbar_left{
    width: 40%;
}

.navbar_left a{
    text-decoration: none;
    color: darkgrey;
    font-family: monospace;
    font-size: 25px;
    margin-right: 25px;
}

.navbar_left img{
    margin-bottom: 50px;
    width: 300px;
}
.navbar_right{
    width: 60%;
    list-style: none;
    margin-top: 60px;
}

.navbar_right a{
    text-decoration: none;
    font-family: monospace;
    color: darkgrey;
    margin-left: 50px;
    font-size: 25px;
}

.navbar_right ul{
    list-style-type: none;
}

.navbar__item{
    display: inline;
}
