@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

section {
    background-color: whitesmoke;
}


#home__page {
    min-height: 100vh;
}

/*

    NAV Section

*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#church__logo {
    width: 350px;
    height: 175px;
}

.nav__link--list {
    display: flex;
}

.nav__links {
    margin: 0 12px;
}

.nav__link--anchor {
    font-size: 16px;
    color: rgb(97, 146, 28);
    font-weight: 700;
}

/*

    Header Page

*/

.header {
    position: absolute;
    top: 25%;
    width: 100%;
    max-width: 2000px;
    padding: 0 30px;
    text-align: center;
}

.title {
    font-size: 52px;
    color: rgb(97, 146, 28);
}

.title__brown  {
    color: rgb(135, 75, 41);
}

.header__para {
    color: rgb(97, 146, 28);
    text-align: center;
    justify-content: center;
    margin: 0 150px;
    line-height: 2;
}